{% load static %}
<!-- Plantilla base para todas las páginas, unificando los estilos y estructura -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
  <link rel ="stylesheet" href="{% static 'base.css' %}">
</head>
<header class="topbar">
    <div class="logo-section">
        <img src="/static/logo.png" alt="Logo">
        <span class="app-name">GesLab</span>
    </div>

    <nav class="main-nav">

       <div class="flex-spacer"></div>

        <div class="menu-center">
          <a href="/muestras/">MUESTRAS</a>
          {% if perms.muestras.can_view_localizaciones_web %}
          <a href="/archivo">CONGELADORES</a>
          {% endif %}
          <a href="/estudios">ESTUDIOS</a>
          {% if user.is_superuser %}
          <a href="/admin">ADMINISTRACIÓN</a>
          {% endif %}
        </div>

        <div class="flex-spacer"></div>

        <div class="menu-auth">
          {% if user.is_authenticated %}
          <p> Usuario: {{ user.username }} </p>
          <form action="{% url 'logout' %}" method="post">
          {% csrf_token %} 
          <button type="submit">Cerrar sesión ({{ user.username }})</button>
          </form>
          {%else%}
          <a href="{% url 'login' %}"> Iniciar sesión </a>
          {%endif%}
        </div>
    </nav>
  </header>
<body>
<div class="page-container">
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>